[submodule "blackmagic"]
	path = blackmagic
	url = https://github.com/blackmagic-debug/blackmagic.git
[submodule "esprit"]
	path = esprit
	url = ../esprit
[submodule "lwip"]
	path = lwip
	url = https://github.com/lwip-tcpip/lwip.git
