build_default.cmake
osted/src/bmp_qtserial.cpp
swindle/rs/rs_swindle/target/
blackmagic_*
*.sw*
.ccls*
nbproject/*
build/*
build
*.rej
*.back
*/bin
build*
*.bin
.vscode
pyUsb/__pycache__/
pyUsb/*.csv
bins
*.gch
updatedb.sh
CMakeSettings.json
*.hs
.cache
compile_commands.json
updat*.*
*.backup
rs/lnbmp/target
*.tmp
tags
kicad/ch32v3x/lnBMP_ch32/lnBMP_ch32-backups/
*.new
*.old
*auto_save*
*autosave*
*backups*
*-cache
*.log
*.zip
build_default.cmake
lnBlackmagic/rs/lnbmp/target/
