SUBSYSTEM=="tty", ATTRS{interface}=="swindle GDB Server", SYMLINK+="ttyBmpGdb2"
SUBSYSTEM=="tty", ATTRS{interface}=="swindle GDB Uart",SYMLINK+="ttyBmpUart2"  
